#!/bin/sh -e

{{- $pwd := (joinPath .chezmoi.sourceDir "dot_config/home-manager") }}
{{- range glob (joinPath $pwd "**/*.nix*") }}
# .{{ . | trimPrefix $pwd }}: {{ include . | sha256sum }}
{{- end }}

{{- if lookPath "home-manager" }}
home-manager switch
{{- else }}
nix-shell '<home-manager>' -A install
{{- end }}
