#!/bin/sh

wget https://addons.mozilla.org/firefox/downloads/file/4121906/ublock_origin-latest.xpi \
  -O 'uBlock0@raymondhill.net.xpi'

wget https://addons.mozilla.org/firefox/downloads/file/4480833/sponsorblock-latest.xpi \
  -O 'sponsorBlocker@ajay.app.xpi'

wget https://addons.mozilla.org/firefox/downloads/file/4095037/darkreader-latest.xpi \
  -O 'addon@darkreader.org.xpi'

if {{ .want1Password }}; then
  wget https://addons.mozilla.org/firefox/downloads/file/4118285/1password_x_password_manager-latest.xpi \
    -O '{d634138d-c276-4fc8-924b-40a0ea21d284}.xpi'
else
  wget https://addons.mozilla.org/firefox/downloads/file/4094964/keepassxc_browser-latest.xpi \
    -O 'keepassxc-browser@keepassxc.org.xpi'
fi
