[Unit]
Description=Nix Updates and Maintenance
Documentation=man:nix(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=%h/.local/bin/nixupd

[Install]
WantedBy=default.target
