[Unit]
Description=Nix Updates and Maintenance
Documentation=man:nix(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
Restart=on-failure
RemainAfterExit=true
ExecStartPre=%h/.local/state/nix/profile/bin/nix-channel --update
ExecStartPre=%h/.local/state/nix/profile/bin/nix-env --install --attr nixpkgs.nix nixpkgs.cacert
ExecStart=%h/.local/state/nix/profile/bin/home-manager switch
ExecStartPost=%h/.local/state/nix/profile/bin/home-manager expire-generations '-7 days'
ExecStartPost=%h/.local/state/nix/profile/bin/nix-collect-garbage --delete-older-than 7d

[Install]
WantedBy=default.target
