sourceDir = "{{ .chezmoi.homeDir }}/src/dotfiles"

[cd]
command = "fish"

[data]
email = {{ promptString "email" | quote }}
name = {{ promptString "name" | quote }}
org = {{ promptString "org" | quote }}
