sourceDir = "{{ .chezmoi.homeDir }}/src/dotfiles"

[cd]
command = "fish"

[data]
email = {{ promptString "email" | quote }}
name = {{ promptString "name" | quote }}
org = {{ promptString "org" | quote }}
profile = {{ promptString "profile" | quote }}

want1Password = {{ promptBool "enable 1Password" }}
wantCopilot = {{ promptBool "enable Copilot" }}
wantSyncthing = {{ promptBool "enable Syncthing" }}
