sourceDir = "{{ .chezmoi.homeDir }}/src/dotfiles"

[cd]
command = "fish"

[data]
{{- $root := . }}
{{- range (list "email" "name" "org" "profile") }}
{{ . }} = {{ promptStringOnce $root . . | quote }}
{{- end }}
{{- range (list "1Password" "Copilot" "Syncthing" "Tailscale") }}
want{{ . }} = {{ promptBoolOnce $root (printf "want%s" .) (printf "enable %s" .) }}
{{- end }}
