[init]
	defaultBranch = master

[pull]
	rebase = true
[push]
	default = current

[rebase]
	autoStash = true

[remote "origin"]
	prune = true

{{- if ne .org "" }}
[url "ssh://git@github.com/{{ .org }}"]
	insteadOf = https://github.com/{{ .org }}
{{- end }}

[user]
	email = {{ .email }}
	name = {{ .name }}
