[Desktop Entry]
Version=1.0
Type=Application
Name=kitty
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec={{ .chezmoi.homeDir }}/.local/state/nix/profile/bin/kitty
StartupNotify=true
Exec={{ .chezmoi.homeDir }}/.local/state/nix/profile/bin/kitty
Icon=kitty
Categories=System;TerminalEmulator;
